body, html, #content {
  -webkit-user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.grid {
  line-height: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
td {
  cursor: default;
}
.pixel {
  margin: 0;
  padding: 0;
  border: 0;
  width: 10px;
  height: 10px;
  float: left;
}
.pixel.start-of-row {
  clear: left;
}
.filled {
  background-color: #000;
}
