body, html, #content {
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
}
.grid {
  line-height: 10px;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  float: left;
}
td {
  cursor: default;
}
.pixel {
  margin: 0;
  padding: 0;
  border: 0;
  width: 3px;
  height: 3px;
  float: left;
}
.pixel.start-of-row {
  clear: left;
}
.filled {
  background-color: #000;
}
#content {
  width: 650px;
  height: 650px;
}
